:root {
    --text-color: #000;
    --background-color: #fff;
    --border-color: #ddd;
}

.dark-theme {
    /* WIP */
    --text-color: #eee;
    --background-color: #333;
    --border-color: #ddd;
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: auto;
    width: 64%;
}

header {
    text-align: center;
}

hr {
    border: 4px solid var(--text-color);
}

#tools {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

#content-container {
    min-height: 200px;
}

section {
    padding: 4px;
}

.collapseButton {
    background-color: #bbb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    max-width: 120px;
    outline: none;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.active,
.collapseButton:hover {
    background-color: #aaf;
}

.content {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 4px;
    display: none;
    text-align: center;
}

.content.show {
    display: block;
}

label {
    margin-bottom: 12px;
}

input,
select {
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 12px;
}

input {
    width: 8%;
}

select {
    width: 28%;
}

#sidesInputContainer input {
    display: none;
    margin-right: 4%;
    width: 16%;
}

#sideA,
#sideB,
#sideC,
#angleA,
#angleB,
#angleC {
    display: none;
}

span:not(#year) {
    display: block;
    margin-top: -12px;
}

.optionsButton,
.resultButton {
    background-color: #4b5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
}

.resultButton:hover {
    background-color: #3a4;
}

.side {
    display: none;
}

footer {
    margin-top: 20px;
    text-align: center;
}

/* common attributes */

button,
footer,
header,
input,
label,
select,
span:not(#year),
.content {
    font-size: 20px;
    color: var(--text-color);
}

input,
select,
.content {
    border: 4px solid var(--border-color);
}

body,
input,
select,
span {
    background-color: var(--background-color);
}